In [60]:
import pandas as pd

data_wine_red = pd.read_csv('./data/winequality-red.csv',delimiter=';')

data_wine_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [61]:
data_wine_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [62]:
data_wine_red.shape

(1599, 12)

In [63]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = StandardScaler().fit_transform(data_wine_red[data_wine_red.columns[~data_wine_red.columns.isin(['quality'])]])
y = data_wine_red[data_wine_red.columns[data_wine_red.columns.isin(['quality'])]]
pd.DataFrame(X_scaled).describe()

,0,1,2,3,4,5,6,7,8,9,10
count,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03
mean,3.554936e-16,1.733031e-16,-8.887339e-17,-1.244227e-16,3.732682e-16,-6.221137e-17,4.443669e-17,-3.473172e-14,2.861723e-15,6.754377e-16,1.066481e-16
std,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00
min,-2.137045e+00,-2.278280e+00,-1.391472e+00,-1.162696e+00,-1.603945e+00,-1.422500e+00,-1.230584e+00,-3.538731e+00,-3.700401e+00,-1.936507e+00,-1.898919e+00
25%,-7.007187e-01,-7.699311e-01,-9.293181e-01,-4.532184e-01,-3.712290e-01,-8.487156e-01,-7.440403e-01,-6.077557e-01,-6.551405e-01,-6.382196e-01,-8.663789e-01
50%,-2.410944e-01,-4.368911e-02,-5.636026e-02,-2.403750e-01,-1.799455e-01,-1.793002e-01,-2.574968e-01,1.760083e-03,-7.212705e-03,-2.251281e-01,-2.093081e-01
75%,5.057952e-01,6.266881e-01,7.652471e-01,4.341614e-02,5.384542e-02,4.901152e-01,4.723184e-01,5.768249e-01,5.759223e-01,4.240158e-01,6.354971e-01
max,4.355149e+00,5.877976e+00,3.743574e+00,9.195681e+00,1.112703e+01,5.367284e+00,7.375154e+00,3.680055e+00,4.528282e+00,7.918677e+00,4.202453e+00

In [64]:
from sklearn.decomposition import PCA

pca = PCA(n_components=8)

pca_features = pca.fit_transform(X_scaled)

print('Shape before PCA: ', X_scaled.shape)
print('Shape after PCA: ', pca_features.shape)

data_scaled_pca = pd.DataFrame(
    data=pca_features
)

data_scaled_pca['quality'] = y

print(data_scaled_pca.describe())

Shape before PCA:  (1599, 11)
Shape after PCA:  (1599, 8)
                  0            1             2             3            4  \
count  1.599000e+03  1599.000000  1.599000e+03  1.599000e+03  1599.000000
mean  -3.554936e-17     0.000000  1.777468e-17 -1.555284e-17     0.000000
std    1.760986e+00     1.388206  1.245598e+00  1.101813e+00     0.979741
min   -5.387623e+00    -3.417517 -3.655316e+00 -4.472835e+00    -3.048917
25%   -1.284754e+00    -0.946600 -8.983770e-01 -4.619438e-01    -0.612258
50%   -1.568036e-01    -0.103429 -7.798049e-02 -7.347862e-02    -0.103663
75%    1.022797e+00     0.780575  7.647279e-01  2.700453e-01     0.395782
max    8.653324e+00     6.809866  5.973211e+00  1.089274e+01     6.347114

                  5            6             7      quality
count  1.599000e+03  1599.000000  1.599000e+03  1599.000000
mean   1.777468e-17     0.000000 -8.887339e-18     5.636023
std    8.124168e-01     0.764301  6.505547e-01     0.807569
min   -2.858371e+00    -3.426191 -2.614202e+00     3.000000
25%   -5.449470e-01    -0.425250 -3.864828e-01     5.000000
50%    3.238589e-04     0.032666 -8.781542e-03     6.000000
75%    5.443314e-01     0.442883  3.850835e-01     6.000000
max    3.265695e+00     3.932002  4.032654e+00     8.000000

In [65]:
pca.explained_variance_

array([3.10107182, 1.92711489, 1.55151379, 1.21399175, 0.95989238,
       0.66002104, 0.58415655, 0.42322138])

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_scaled_pca[data_scaled_pca.columns[~data_scaled_pca.columns.isin(['quality'])]], data_scaled_pca.quality, test_size=0.25)
#X_train, X_test, y_train, y_test = train_test_split(data_wine_red[data_wine_red.columns[~data_wine_red.columns.isin(['quality'])]], data_wine_red.quality, test_size=0.25)

X_train.head()

,0,1,2,3,4,5,6,7
74,2.069585,1.090479,1.187745,0.098788,-0.789357,-1.006007,-0.026769,-0.415579
1036,-0.546892,-1.204955,2.339044,-0.289320,-0.208499,1.211525,0.544334,0.024294
971,1.587101,-2.171695,0.494894,0.054544,-0.022837,-1.199568,-0.347353,-0.060713
190,0.685139,2.067779,0.521868,-0.462083,-0.999269,0.065215,0.206876,0.285252
390,-3.635740,-0.445865,1.600169,0.901366,0.653968,0.901824,-2.014369,0.241589

In [67]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor()
neigh.fit(X_train, y_train)

neigh.score(X_test,y_test)

0.26872407586152935